[package]
name = "ab-av1"
version = "0.4.1"
authors = ["Alex Butler <alexheretic@gmail.com>"]
edition = "2021"
description = "AV1 encoding with fast VMAF sampling"
repository = "https://github.com/alexheretic/ab-av1"
keywords = ["av1", "vmaf"]
license = "MIT"
readme = "README.md"

[dependencies]
anyhow = "1.0.53"
clap = { version = "3.2", features = ["derive", "env"] }
clap_complete = "3.2"
console = "0.15"
ffprobe = "0.3"
futures = "0.3.19"
humantime = "2.1"
indicatif = "0.16.2"
num_cpus = "1.13.1"
once_cell = "1.9"
serde_json = "1.0.78"
shell-escape = "0.1.5"
time = { version = "0.3", features = ["parsing", "macros"] }
tokio = { version = "1.15", features = ["rt", "macros", "process", "fs", "signal"] }
tokio-process-stream = "0.3"
tokio-stream = "0.1"

[target.'cfg(unix)'.dependencies]
unix-named-pipe = "0.2"
rand = "0.8.5"

[profile.release]
lto = true
opt-level = "s"
strip = true
