[package]
name = "ab-av1"
version = "0.1.1"
authors = ["Alex Butler <alexheretic@gmail.com>"]
edition = "2021"
description = "AV1 encoding with fast VMAF sampling"
repository = "https://github.com/alexheretic/ab-av1"
keywords = ["av1", "vmaf"]
license = "MIT"
readme = "README.md"

[dependencies]
clap = { version = "3.0.10", features = ["derive"] }
clap_complete = "3.0.5"
ffprobe = "0.3"
anyhow = "1.0.53"
tokio = { version = "1.15", features = ["rt", "macros", "process", "fs", "signal"] }
tokio-stream = "0.1"
tokio-process-stream = "0.2"
indicatif = "0.16.2"
console = "0.15"
once_cell = "1.9"
futures = "0.3.19"
time = { version = "0.3", features = ["parsing", "macros"] }
serde_json = "1.0.78"

[profile.release]
lto = true
opt-level = "s"
