name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      RUST_BACKTRACE: 1
    steps:
    - run: rustup update stable
    - uses: actions/checkout@v6
    - run: cargo test --locked
    # check print-completions don't fail
    - run: cargo run --locked -- print-completions bash
    - run: cargo run --locked -- print-completions fish
    - run: cargo run --locked -- print-completions zsh

  # Disabled while we no longer need cfg(windows) code
  # test-windows:
  #   runs-on: windows-latest
  #   env:
  #     RUST_BACKTRACE: 1
  #   steps:
  #   - run: rustup update stable
  #   - uses: actions/checkout@v6
  #   - run: cargo check

  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - run: rustup update stable
    - uses: actions/checkout@v6
    - run: cargo fmt -- --check
